.experience__display > .css-1izfg5m {
  width: fit-content;
  background-color: var(--background-color);
}

.MuiBox-root > .css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: var(--background-color);
}

span.css-11yukd5-MuiTabs-indicator {
  background-color: var(--text-color-alt);
}

.experience__job {
  display: flex;
  flex-direction: column;
}

.experience__job-accomplishment {
  display: flex;
  margin-top: 1.5rem;
}

.experience__job-accomplishment p {
  margin-left: 1rem;
}

.experience__job span:first-of-type {
  font-weight: 900;
  font-size: 18px;
}

.experience__job span:first-of-type .secondary-color-text {
  font-size: 18px;
}

.experience__job span:last-of-type {
  font-size: 13px;
}
