@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
:root {
    --text-color: #FFFFFF;
    --text-color-alt: #a8a2a2;
    --background-color: #16215b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch";
  color: var(--text-color);
}

html {
  background-color: var(--background-color);
}

.container {
  margin: 0 auto;
}
