@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
:root {
  --text-color: #bcbfe1;
  --text-color-alt: #f25525;
  --background-color: #16215b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch";
  color: var(--text-color);
}

html {
  background-color: var(--background-color);
}

.container {
  align-items: center;
  margin: 30px 1.5em;
  flex-direction: column;
}

.introduction__display {
  text-align: center;
}

.introduction__display p {
  margin: 20px;
}

.introduction__text-typing {
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--text-color-alt);
  font-family: monospace;
  font-size: 38px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.secondary-color-text {
  color: var(--text-color-alt);
}


.introduction__random-text {
  display: block;
  font-size: 24px;
  margin: 10px;
}

.introduction__mail-display {
  border: 2px var(--text-color-alt) solid;
  color: var(--text-color-alt);
  width: 7em;
  margin: 0 auto;
  padding: 0.5em 0;
  border-radius: 5px;
}

.introduction__mail-display svg {
  color: var(--text-color-alt);
  margin-right: 9px;
}

.about__display {
  margin: 2em auto;
}

.about__display p {
  margin: 2em auto;
}

.tertiary-color-text {
  font-size: 30px;
  color: white;
  margin-bottom: 2em;
  font-family: monospace;
  text-align: right;
}

.about__language-display {

  margin: 1em auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about__language-display span {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

.about__language-display svg {
  margin-right: 1em;
}

.experience__display {
  margin: 2em auto;
}
